<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /unibookstore/

    # Protect .htaccess file
    <Files .htaccess>
        Order Allow,Deny
        Deny from all
    </Files>

    # Deny access to all system files
    RewriteRule ^(application|system|tests)/ - [F,L,NC]

    # Deny access to all hidden files and directories (starting with dot)
    RewriteRule (^|/)\. - [F]

    # Redirect all requests to the page folder
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
